* { 
font-size: 15px;
font-family: gilroy;
margin:0;
padding:0;
box-sizing:border-box;
 } 
html,body {
width:100%;
height:100%;
 } 
 table{
  text-align: left;
  width: 100%;
 }
 table,td,th{
  border-collapse: collapse;
}
td{
  padding: 14.8px 10px;
}
th{
  padding: 20px;
}
tbody tr:nth-child(odd){
  background-color:rgba(176, 240, 240, 0.454);
}
td>p{
  text-align: center;
  padding: 10px 0px;
  border-radius: 20px;
  color: green;
  background-color:rgba(134, 255, 134, 0.836) ;
}
.icon-section{
  margin-left: 15px;
}
.dletepop{
 
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 343px;
  height: 294px;
  background-color: white;
}
.dlettop{
  padding: 10px 8px;
  width: 343px;
  height: 157px;
  background-color: white;
}
.dletop-part1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dletop-part2{
  margin-top: 10px;
}
.dletop-part2>h1{
  font-size: 20px;
}
.dletbottom{
  align-content: center;
  padding: 10px 8px;
  width: 343px;
  height: 157px;
  /* background-color: rgb(50, 155, 21); */
}
.deltebtn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(255, 19, 19, 0.84);
}
.canclebtn{
  cursor: pointer;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  /* background-color: rebeccapurple; */
}
