* { 
margin:0;
padding:0;
box-sizing:border-box;
 } 
html,body {
width:100%;
height:100%;
 } 
 #main{
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #F4F2EE;
    /* background-color: red; */
 }
 #center{
    border-radius: 10px;
    width: 70%;
    height: 80%;
    background-color: #fff;
    /* background-color: rebeccapurple; */
 }
 #background-img{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: red;
 }
 #background-img>label{
    position: absolute;
    top: 10%;
 }