* { 
margin:0;
padding:0;
box-sizing:border-box;
 } 
html,body {
padding: 20px;
width:100%;
height:100%;
 } 
button{
     padding: 10px;
}
#main{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: 50%;
          /* background-color: aqua; */
      }
      #loader{
          width: 150px;
          height: 150px;
          display: none;
          border: 10px solid rgba(245, 222, 179, 0.244);
          border-top: 10px solid rgb(12, 16, 239);
          border-bottom: 10px solid rgb(12, 16, 239);
          border-radius: 50%;
          /* background-color: red; */
          animation: spin linear .7s infinite;
      }
     @keyframes spin {
          0%{
               transform: rotate(0deg);
          }
          100%{
               transform: rotate(360deg);
          }
     }